<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Template Forms </h3>
        </div>
        <!-- <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
                <a routerLink="basicos">Template Basicos</a>
            </li>
            <li>
                <a routerLink="dinamicos">Template Dinamicos</a>
            </li>
            <li>
                <a routerLink="switches">Template Switches</a>
            </li>
            <li class="active">
                <a routerLink="reactive/basicos">Reactive Basicos</a>
            </li>
            <li>
                <a routerLink="reactive/dinamicos">Reactive Dinamicos</a>
            </li>
            <li>
                <a routerLink="reactive/switches">Reactive Switches</a>
            </li>
        </ul> -->
        <ul class="list-unstyled components">
            <li *ngFor="let item of templateMenu" [routerLink]="[item.route]" routerLinkActive="active"> <a> {{
                    item.texto}} </a> </li>
        </ul>
        <div class="sidebar-header">
            <h3>Reactive Forms </h3>
        </div>
        <ul class="list-unstyled components">
            <li *ngFor="let item of ReactiveMenu" [routerLink]="[item.route]" routerLinkActive="active"> <a> {{
                    item.texto}} </a> </li>
        </ul>
        <div class="sidebar-header">
            <h3>Auth Forms </h3>
        </div>
        <ul class="list-unstyled components">
            <li *ngFor="let item of AuthMenu" [routerLink]="[item.route]" routerLinkActive="active"> <a> {{
                    item.texto}} </a> </li>
        </ul>

    </nav>