<h2> Reactive Formularios Dinamicos </h2>
<hr />

<form autocomplete="off"  [formGroup]="f" (ngSubmit)="onSubmit()" >
    <!-- Nombre de La Persona-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Nombre </label>
        <div class="col-sm-9">
            <input formControlName="nombre" class="form-control" placeholder="Nombre de la Persona"
                required />
        </div>
        <div class="col-sm-9">
            <span class="text text-danger" *ngIf="campoInvalid('nombre')"> Campo
                Obligatorio </span>
        </div>
    </div>
    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Agregar </label>
        <div class="col-sm-9">
            <div class="input-group mb-3">
                <input 
                type="text" 
                class="form-control" 
                placeholder="Agregar Favorito" 
                aria-label="Add Fav"
                aria-describedby="button-addon2"
                [formControl]="newItem"
                (keyup.enter)="add()"
                >
                <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="add()" >Agregar</button>
            </div>
        </div>
    </div>

    <!-- Lista de Favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Favoritos </label>
        <div class="col-sm-9" formArrayName="favoritos">
            <div class="input-group mb-1" 
            *ngFor=" let favorito of favoritosArr.controls; let i = index " >
                <input  class="form-control" [formControlName]="i" required />
                <button class="btn btn-outline-danger" type="button" (click)="delete( i )" > Borrar </button>
            </div>        
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary float-end"> Insertar
            </button>
        </div>
    </div>
</form>


<span> Valid </span>
<pre> {{ f.valid | json  }} </pre>
<span> Value </span>
<pre> {{ f.value | json  }} </pre>
<span> Agregar Favorito Valid  </span>
<pre> {{ newItem.valid | json  }} </pre>
<span> Agregar Favorito Value  </span>
<pre> {{ newItem.value | json  }} </pre>